NEXT_PUBLIC_SUPABASE_URL=https://ppcfrvvwmvhmljwsmkxq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwY2ZydnZ3bXZobWxqd3Nta3hxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU4NTI4MDcsImV4cCI6MjA2MTQyODgwN30.0cI29J1ijN456ZRRl-sF38O9Ceu53yYEtDoRs7XLv_8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwY2ZydnZ3bXZobWxqd3Nta3hxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NTg1MjgwNywiZXhwIjoyMDYxNDI4ODA3fQ.kYst3zIEc6VrLLiJZSCwygKnOym8pooUwTuQu4LlI6A
